@{
    ViewBag.Title = "Accessible Help Directory Home";
}

@helper GetAddEntryButtonVisibility()
{
    if ((string)ViewContext.RouteData.Values["controller"] == "Home" &&
        (string)ViewContext.RouteData.Values["action"] == "Add")
    {
        <text>hidden</text>
    }
    else
    {
        <text>visible</text>
    }
}


<div class="jumbotron">
    <h1>Accessibility Help Directory</h1>
    <p class="lead"><strong>DISCLAIMER:</strong> Please note that the data in this table is not actual data at this time. It is simply test data.</p>
</div>

@*Section that makes error messages appear.*@
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

<div>
    <a href="@Url.Action("Add", "Home")" style="visibility: @GetAddEntryButtonVisibility()"
       class="btn btn-primary navbar-btn navbar-right">
        <span class="glyphicon glyphicon-plus"></span> Add Staff Listing
    </a>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="hidden-xs">Department</th>
            <th class="hidden-sm hidden-xs">Phone Number</th>
            <th class="hidden-md hidden-sm hidden-xs">Email Address</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.FirstName</td>
                <td>@entry.LastName</td>
                <td class="hidden-xs">@entry.Department.Name</td>
                <td class="hidden-sm hidden-xs">@entry.PhoneNumber</td>
                <td class="hidden-md hidden-sm hidden-xs">@entry.EmailAddress</td>
                <td>
                    <div class="pull-right">

                        @*Changed this top button to be a view entry button. Currently not implemented.*@
                        @*<a href="@Url.Action("EntryDetail", new { id = entry.Id })" class="btn btn-info btn-sm disabled" role="button" aria-disabled="true">
                                <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Details</span>
                            </a>*@

                        <a href="@Url.Action("Edit", new {id = entry.Id})" class="btn btn-warning btn-sm margin-right" role="button">
                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                        </a>

                        <a href="@Url.Action("Delete", new {id = entry.Id})" class="btn btn-danger btn-sm" role="button">
                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                        </a>

                    </div>
                </td>
            </tr>
        }
    </table>
</div>