@{
    ViewBag.Title = "Accessible Help Directory Home";
}

<div class="jumbotron">
    <h1>Accessibility Assistance Directory</h1>
    <p class="lead"><strong>DISCLAIMER:</strong> Please know that this directory is full of fake information because it just a proof of concept and not a working directory at this time.</p>
</div>

<div>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th class="hidden-sm hidden-xs">Phone Number</th>
            <th class="hidden-md hidden-sm hidden-xs">Email Address</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.FirstName</td>
                <td>@entry.LastName</td>
                <td>@entry.Department.Name</td>
                <td class="hidden-sm hidden-xs">@entry.PhoneNumber</td>
                <td class="hidden-md hidden-sm hidden-xs">@entry.EmailAddress</td>
                <td>
                    <div class="pull-right">

                        @*Change this top button to be a view entry button.*@
                        <a href="@Url.Action("EntryDetail", new { id = entry.Id })" class="btn btn-info btn-sm disabled" role="button" aria-disabled="true">
                                <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Details</span>
                            </a>

                        <a href="@Url.Action("Edit", new { id = entry.Id })" class="btn btn-warning btn-sm margin-right" role="button">
                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                        </a>

                        <a href="@Url.Action("Delete", new { id = entry.Id })" class="btn btn-danger btn-sm" role="button">
                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                        </a>

                    </div>
                </td>
            </tr>
        }
    </table>
</div>